/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


body{
    background-color: #eeeeee;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 10%;
}
